{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cara's Blogs</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>

    <body>

        <!-- header -->
        <section id="header">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png'%}"  class="logo" alt="">
            </a>
            <div>
                <ul id="navbar">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'blog' %}" class="active">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}"><img src="{{user.customer.profile_pic.url}}" width="30px" height="30px"></a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a></li>
                    {% endif %}
                    <!-- light cart <i class="fal fa-shopping-cart"></i> -->
                </ul>
            </div>

        </section>


        <!-- page header -->
        <section id="page-header" class="blog-header">
            <h2>#readmore</h2>
            <p>Read all case studies about our products!</p>
        </section>


        <!-- blog -->
        <section id="blog">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="{% static 'img/blog/b1.jpg'%}" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
                    <p>Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteuse hexagon irony, godard...</p>
                    <a href="">CONTINUE READING</a>
                </div>
                <h1>13/01</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="{% static 'img/blog/b2.jpg'%}" alt="">
                </div>
                <div class="blog-details">
                    <h4>How to Style a Quiff</h4>
                    <p>Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteuse hexagon irony, godard...</p>
                    <a href="">CONTINUE READING</a>
                </div>
                <h1>13/01</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="{% static 'img/blog/b3.jpg'%}" alt="">
                </div>
                <div class="blog-details">
                    <h4>Must-Have A Skater Girl Items</h4>
                    <p>kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteuse hexagon irony, godard...</p>
                    <a href="">CONTINUE READING</a>
                </div>
                <h1>13/01</h1>
            </div>
        </section>


        <!-- pagination -->
        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
        </section>


        <!-- footer -->
        <footer class="section-p1">
            <div class="col">
                <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.png'%}" alt=""></a>
                <h4>Contact</h4>
                <p class="clr">{{ site.address_label}}: <strong>{{site.address}}</strong></p>
                <p class="clr">{{ site.phone_label}}: <strong>{{site.phone}}</strong></p>
                <p class="clr">{{ site.hours_label}}: <strong>{{site.hours}}</strong></p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <a href="{{site.facebook}}"><i class="fab fa-facebook-f"></i></a>                        
                        <a href="{{site.twitter}}"><i class="fab fa-twitter"></i></a>                        
                        <a href="{{site.instagram}}"><i class="fab fa-instagram"></i></a>                        
                        <a href="{{site.pinterest}}"><i class="fab fa-pinterest-p"></i></a>                        
                        <a href="{{site.youtube}}"><i class="fab fa-youtube"></i></a>                        
                    </div>
                </div>
            </div>
            <div class="col">
                <br><br><br>
                <h4>{{site.about_label}}</h4>
                <a href="{{site.about_us}}">{{site.about_us_label}}</a>
                <a href="{{site.delivery_information}}">{{site.delivery_information_label}}</a>
                <a href="{{site.privacy_policy}}">{{site.privacy_policy_label}}</a>
                <a href="{{site.terms_conditions}}">{{site.terms_conditions_label}}</a>
                <a href="{{site.contact_us}}">{{site.contact_us_label}}</a>
            </div>
            <div class="col">
                <br><br><br>
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="{% url 'cart' %}">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>
            <div class="col install">
                <br><br><br>
                <h4>Install App</h4>
                <p>From App Stor or Google Play</p>
                <div class="row">
                    <img src="{% static 'img/pay/app.jpg'%}" alt="">
                    <img src="{% static 'img/pay/play.jpg'%}" alt="">
                </div>
                <p>Secure Payment Gateways</p>
                <img src="{% static 'img/pay/pay.png'%}" alt="">
            </div>

            <div class="copyright">
                <p>© 2023, Mohamed Magdy - ITI::DR. Kamal Radwan</p>
            </div>
        </footer>
        <script src="{% static 'script.js'%}"></script>
    </body>

</html>