{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>

        <!-- header -->
        <section id="header">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png'%}"  class="logo" alt="">
            </a>
            <div>
                <ul id="navbar">
                    <li><a href="{% url 'index' %}" class="active">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}"><img src="{{user.customer.profile_pic.url}}" width="30px" height="30px"></a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a></li>
                    {% endif %}

                    <!-- light cart <i class="fal fa-shopping-cart"></i> -->
                </ul>
            </div>
        </section>

        <section id="logout" class="section-p1">
            <h1>Why leaving so soon!!</h1>
            <h2>Make sure to come back later</h2>
            <h3>You can Keep browsing!</h3>
            <a href="{% url 'login' %}"><h1>Or log back in </h1></a>
        </section>
        

        <!-- JavaScript -->
        <script src="{% static 'script.js' %}"></script>
    </body>
</html>