{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech2etc Ecommerce Tutorial</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>
    {% block content %}
    <body>

        <!-- header -->
        <section id="header">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png'%}"  class="logo" alt="">
            </a>
            <div>
                <ul id="navbar">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}" class="active">Shop</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if len %}
                    {% comment %} <i class="fas fa-cart-arrow-down"></i> {% endcomment %}
                    <li><a href="{% url 'cart' %}" ><i class="fas fa-shopping-cart"></i><span>{{len}}</span></a></li>
                    {% else %}
                    <li><a href="{% url 'cart' %}"><i class="fal fa-shopping-cart"></i></a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <ul class="largenav pull-right">
                            <li class="upper-links dropdown"><a class="links" href="{% url 'index' %}"><img src="{{user.customer.profile_pic.url}}" width="30px" height="30px"></a>
                                <ul class="dropdown-menu">
                                    <li class="profile-li"><a class="profile-links" href="#">Profile</a></li>
                                    <li class="profile-li"><a class="profile-links" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>                          
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a></li>
                    {% endif %}
                </ul>
            </div>

        </section>


        <!-- Single Product details -->
        <section id="prodetails" class="section-p1">
            <div class="single-pro-image">
                <img src="{{product.img.url}}" id="MainImg" width="100%" alt="">
            
                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src="{{product.img.url}}" class="small-img" width="100%" alt="">
                    </div>
                    {% if details.img1 %}
                    <div class="small-img-col">
                        <img src="{{details.img1.url}}" class="small-img" width="100%" alt="">
                    </div>
                    {% endif %}
                    {% if details.img2 %}
                    <div class="small-img-col">
                        <img src="{{details.img2.url}}" class="small-img" width="100%" alt="">
                    </div>
                    {% endif %}
                    {% if details.img3 %}
                    <div class="small-img-col">
                        <img src="{{details.img3.url}}" class="small-img" width="100%" alt="">
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="single-pro-details">
                <h6>{{product.seller}}</h6>
                <h4>{{product.name}}</h4>
                <h2>${{product.price}}.00</h2>
                {% comment %} <input type="number" value="1"> {% endcomment %}
                <a href="{% url 'addtocart' pk=product.pk %}">
                    <button type="button" class="normal">Add to Cart</button>
                </a>
                <h4>Product Details</h4>
                <span>{{details.description}}</span>
            </div>
        </section>

        <!-- featured products -->
        <section id="product1" class="section-p1">
            <h2>Featured Products</h2>
            <p>Summer Collection New Modern Design</p>
            <div class="pro-container">
                {% for item in products %}
                {% if item.featured %}
                <!-- A single product -->
                <div class="pro">
                    <a href="{% url 'sproduct' slug=item.slug %}"><img src="{{item.img.url}}" alt=""></a>
                    <div class="des">
                        <span>{{item.seller}}</span>
                        <a href="{% url 'sproduct' slug=item.slug %}"><h5>{{item.name}}</h5></a>
                        <div class="star">

                            <i class='fas fa-star'></i>
                            <i class='fas fa-star'></i>
                            <i class='fas fa-star'></i>
                            <i class='fas fa-star'></i>
                            <i class='fas fa-star'></i>
                        </div>
                        <h4>${{item.price}}.00</h4>
                    </div>
                    <a href="{% url 'addtocart' pk=item.pk %}"><i class='cart fal fa-shopping-cart'></i></a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>


        <!-- footer -->
        <footer class="section-p1">
            <div class="col">
                <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.png'%}" alt=""></a>
                <h4>Contact</h4>
                <p class="clr">{{ site.address_label}}: <strong>{{site.address}}</strong></p>
                <p class="clr">{{ site.phone_label}}: <strong>{{site.phone}}</strong></p>
                <p class="clr">{{ site.hours_label}}: <strong>{{site.hours}}</strong></p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <a href="{{site.facebook}}"><i class="fab fa-facebook-f"></i></a>                        
                        <a href="{{site.twitter}}"><i class="fab fa-twitter"></i></a>                        
                        <a href="{{site.instagram}}"><i class="fab fa-instagram"></i></a>                        
                        <a href="{{site.pinterest}}"><i class="fab fa-pinterest-p"></i></a>                        
                        <a href="{{site.youtube}}"><i class="fab fa-youtube"></i></a>                        
                    </div>
                </div>
            </div>
            <div class="col">
                <br><br><br>
                <h4>{{site.about_label}}</h4>
                <a href="{{site.about_us}}">{{site.about_us_label}}</a>
                <a href="{{site.delivery_information}}">{{site.delivery_information_label}}</a>
                <a href="{{site.privacy_policy}}">{{site.privacy_policy_label}}</a>
                <a href="{{site.terms_conditions}}">{{site.terms_conditions_label}}</a>
                <a href="{{site.contact_us}}">{{site.contact_us_label}}</a>
            </div>
            <div class="col">
                <br><br><br>
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="{% url 'cart' %}">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>
            <div class="col install">
                <br><br><br>
                <h4>Install App</h4>
                <p>From App Stor or Google Play</p>
                <div class="row">
                    <img src="{% static 'img/pay/app.jpg'%}" alt="">
                    <img src="{% static 'img/pay/play.jpg'%}" alt="">
                </div>
                <p>Secure Payment Gateways</p>
                <img src="{% static 'img/pay/pay.png'%}" alt="">
            </div>

            <div class="copyright">
                <p>© 2023, Mohamed Magdy - ITI::DR. Kamal Radwan</p>
            </div>
        </footer>

        <script src="{% static 'script.js'%}"></script>
    </body>
    {% endblock %}
</html>